@import "variables";

#app {
  background-color: $pink;
  height: 100vh;
}

.component {
  margin-bottom: 2rem;
}

.center {
    text-align: center;
}

.nav-link {
  color: white;
  
  &:hover {
    color: $pink;
  }
}