@import "variables";

#app {
  background-color: $pink;
  height: 100vh;
}

.component {
  margin-bottom: 2rem;
}

.center {
    text-align: center;
}

.bold {
  font-weight: bold;
}

.nav-link {
  color: white;
  
  &:hover {
    color: $pink;
  }
}

button {
  white-space: nowrap;
}